body {
  background-color: black;
  color: white;
  text-align: center;
}
#controls {
  position: absolute;
  bottom: 0;
  height: auto;
  width: 100%;
}
#canvas {
  width: 1000px;
  height: 1000px;
}
